<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.work.order.mapper.OrderMapper">
    <insert id="insert" parameterType="com.cloud.work.order.entity.OrderEntity">
        INSERT INTO t_order(id, name) VALUES (#{id}, #{name})
    </insert>
</mapper>