<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.work.inventory.mapper.InventoryMapper">
    <insert id="insert" parameterType="com.cloud.work.inventory.entity.InventoryEntity">
        INSERT INTO t_inventory(id, count) VALUES (#{id}, #{count})
    </insert>
</mapper>